.experienceBox{
    margin-left: 8%;
    margin-right: 8%;
    color: #202638 ;
}
.skills{
  display: flex;
    list-style-type: none;
    font-size: 20px;
}

h3{
    font-size: 25px;
}

.codeClan{
    text-align: justify;
    margin-top: 60px;
}

.codeClan h2{
    text-align: center;
}



.skillsBox h3{
    text-align: center;
    margin-top: 50px;
}

.backgroundBox{
    text-align: justify;
}

.backgroundBox h2{
    text-align: center;
    margin-top: 80px;
}

.card{
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
    color: aliceblue;
}