@media screen and (max-width: 500px){
    .list {
        flex-direction: column;
        height: auto;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
        
    }

    .items{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        
      }

    
    
}

.home{
    font-size: 30px;
    margin-right: 10px;
}
.gitHub{
    
    margin-right: 10px;
    font-size: 30px;
}

.address{
    font-size: 30px;
    margin-right: 10px;
}

.items:hover{
    transform:scale(1.3);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:#fff;
}
